html {
    background-image: url('../../public/flags.jpg');
    background-color: #58a7d5;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}



.fixed-container {
    position: relative;
    padding-bottom: 5em;
    text-align: center;
    margin-top: 1em;
}

.fixed-container>* {
    position: fixed;
    width: 50vw;
    margin-left: 25%;

}

.fixed-container>h2 {
    margin-top: 4.3em;
}


.scrollable-content {
    height: 65vh;
    margin-top: 6.5em;
    overflow-y: scroll;
    width: 90vw;
    margin-left: 1vw;
    margin-right: 5vw;

}

.scrollable-content::-webkit-scrollbar {
    display: none;
}


.invisible-div {
    visibility: hidden;
    padding-top: 1em;
}

input+button {
    padding: 0.5em;
    font-size: large;

}

button+button {
    padding: 0.5em;
    font-size: large;

}

div>input:first-child {
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: large;
    width: 30vw;
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-top: 1em;
}

@keyframes blinkingText {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.error-msg {
    padding-top: 1em;
    color: aliceblue;
    animation: blinkingText 2s infinite;
    white-space: nowrap;
}

h2 {
    text-align: center;
}

.resulth2 {
    white-space: nowrap;
}


li {
    list-style-position: inside;
}